<div class="banner-bg">
<img src="{{asset "banner-left.png"}}" alt="左边头图" height = '476' class = 'left'>
  <img src="{{asset "banner-right.png"}}" alt="右边头图" height = '476' class = 'right'>

<div class="wrap">
  <h2>日事清 — {{title}}</h2>
  <img src="{{asset "ball.png"}}" alt="球" class = 'ball' width = '208' height = '130'>
</div>

  {{!-- <img src="{{asset "banner.png"}}" alt=""> --}}
</div>
