<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "logo.png"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/index.min.css"}}" />
    <meta name="baidu-site-verification" content="DGzERzSCti" />
    <meta name="author" content="北京创仕科锐信息技术有限公司" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="360-site-verification" content="88aa861aac3a49c26b9c0739444a9cc2" />
    <meta name="sogou_site_verification" content="1iO9Pj2r8M"/>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['setAccountId', '8282882b138aee34']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();

        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "//hm.baidu.com/hm.js?b486bc02e446cec339e6c08eb84b5aec";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script src="//assets.kf5.com/supportbox/main.js" id="kf5-provide-supportBox" kf5-domain="chuangshikerui.kf5.com"></script>
    {{!-- {{head-meta}} --}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} {{#is 'index, tag, author'}}user{{/is}} {{#is 'post'}}{{#unless post.image}}noimage{{/unless}}{{/is}}">



    {{> "header-nav"}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{!-- {{#if @blog.logo}}
        <a href="{{@blog.url}}" id="blog_badge">
            <span style="background-image: url('{{@blog.logo}}');">{{@blog.title}}</span>
        </a>
    {{/if}} --}}

    {{!--
    <footer class="site-footer clearfix">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> &amp; <a href="http://www.ghostchina.com">GhostChina</a></section>
    </footer>
    --}}
    <script>
    var ga = function () {};
        {{#is 'post'}}
            function get_text(el) {
                ret = "";
                var length = el.childNodes.length;
                for(var i = 0; i < length; i++) {
                    var node = el.childNodes[i];
                    if(node.nodeType != 8) {
                        ret += node.nodeType != 1 ? node.nodeValue : get_text(node);
                    }
                }
                return ret;
            }

        {{/is}}

        function no_schema_links () {
            var links = document.querySelectorAll('.js-remove-domain-schema');
            if (links) {
                for (i = 0; i < links.length; ++i) {
                    var link = links[i],
                        text = link.innerHTML,
                        no_schema = text.replace(/.*?:\/\//g, "");
                    link.innerHTML = no_schema;
                }
            }
        }

        window.onload = function () {
            no_schema_links();
        }
    </script>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{#is 'post'}}
        <script src = '//apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js'></script>

        <script>
            $(function(){
                var share_modal = $("#share_modal"),
                    update_social_links = true;

                $("#btn_share").click(function(){
                    var that = $(this);
                    share_modal.fadeIn(200);
                    return false;
                });

                share_modal.click(function(e){
                    if (e.target.className == "wrap" || e.target.id == "share_modal") {
                        share_modal.fadeOut(200);
                    }
                    return false;
                });

                share_modal.find("div.inner > header > a.close").click(function(){
                    share_modal.fadeOut(200);
                    return false;
                });
            });
        </script>
    {{/is}}
    <script src = "{{asset "dist/js/all.min.js"}}"></script>
    {{> "loginDialog"}}
    <link rel="stylesheet" href="{{asset "css/loginDialog.css"}}">
</body>
</html>
