{{!< default}}

{{#post}}
    {{> "post-banner"}}
    <article role="main" class="{{#if image}}image{{/if}}">
        <header>
            {{!-- <a href="{{@blog.url}}" id="home_link">«</a> --}}
            <a href="{{@blog.url}}" id="home_link">«</a>
            <div class="meta"><time datetime="{{date format='YYYY-MM-DD'}}"><a href="{{url}}">{{date format="YYYY年MM月DD日"}}</a></time></div>
        </header>

        <div class="text" id="js-post-content">
            {{content}}
        </div>

        {{!-- <menu>
            <a href="" id="btn_share" class="btn" title="分享">
                <span aria-hidden="true" data-icon="S"></span>
                <strong>分享</strong>
            </a>
        </menu> --}}
    </article>

    <div id="post_nav">
        <nav role="navigation">
            {{#next_post}}
                <a href="{{url}}" id="post_next" title="Next Post">
                    <span aria-hidden="true" data-icon=">"></span>
                    前一篇
                </a>
            {{/next_post}}
            {{#prev_post}}
                <a href="{{url}}" id="post_prev" title="Previous Post">
                    后一篇
                    <span aria-hidden="true" data-icon=">"></span>
                </a>
            {{/prev_post}}
        </nav>
    </div>

{{/post}}
{{> "footer"}}
